{% extends 'base.html.twig' %}

{% block title %}Hello Pizza ! - Liste des pizzas{% endblock %}

{% block header %}
  <h1>Liste des pizzas</h1>
{% endblock %}

{% block main_content %}

  <div class="cards-container">

    {% for pizza in pizzas %}
      <div class="card">
        <h3>{{pizza.getName()}}</h3>
        <p>{{pizza.getDescription()}}</p>
        <p>{{pizza.getPrice()}} €</p>
        <img src="{{pizza.getImageUrl()}}" alt="photo de la {{pizza.getName()}}">
      </div>
      
    {% endfor %}

    <div class="button-container">
        <a href={{path("app_pizza_createPizza")}} class="btn btn-add">Ajouter une nouvelle pizza</a>
    </div>

  </div>

{% endblock %}