{% extends 'base.html.twig' %}

{% block title %}Hello Pizza ! - Liste des pizzas{% endblock %}

{% block header %}
  <h1>Liste des pizzas</h1>
{% endblock %}

{% block main_content %}

  <div class="cards-container">

    {% for pizza in pizzas %}
      <div class="card">
        <h3>{{pizza.name()}}</h3>
        <p>{{pizza.description()}}</p>
        <p>{{pizza.price()}} €</p>
        <img src="{{pizza.imageUrl()}}" alt="photo de la {{pizza.name()}}">
        
        <a href= {{ path("app_pizza_updatePizza", {"id": pizza.id})}} class="btn btn-modify">Modifier</a>
        <a href={{path("app_pizza_removePizza", {"id": pizza.id})}} class="btn btn-delete">Supprimer</a>
      </div>
      
    {% endfor %}

    <div class="button-container">
        <a href={{path("app_pizza_createPizza")}} class="btn btn-submit">Ajouter une nouvelle pizza</a>
    </div>

  </div>

{% endblock %}